// colors
$text: #edfaff;
$white: #e7ecf2;
$blk: #18171a;
$orange: #ff5619;
$blue: #9dffff;
$grey-d: #5d6671;
$grey-l: #c2c6c7;

// fonts
$font1: 'NeueMontreal-Regular';
$font2: 'NeueMontreal-Medium';
$font3: 'NeueMontreal-Bold';
$font4: 'SaolDisplay-SemiboldItalic';
$font5: 'SourceHanSansK-VF';
